body {
    background-color: #00ff00;
    font-size: 24px;
    text-align: center;
}

#pic {
    height: 400px;
    width: 400px;
    background-image: url("./alexandalex_withthisistheshirt.png");
    background-size: cover;
    display: inline-block;
}
