body {
    background-color: #00ff00;
    font-size: 24px;
    text-align: center;
}

#pic {
    height: 368px;
    width: 430px;
    display: inline-block;
}

.shopitem {
    width: 50%;
    max-width: 500px;
    background-color:#ff00ff;
    color: #ffffff;
}

.shoppic {
    max-=width: 100%;
    height: auto;
}
